name: Build

on:
  push:
    branches:
      - "main"
      - "develop"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Build Docker image
        run: |
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/back_projet:latest-${{ github.ref_name }}-${{ runner.os }} .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/back_projet:latest-${{ github.ref_name }}-${{ runner.os }}
